.btn-primary {
    padding: $smallMargin;
    width: 200px;
    background-color: $darkTeal;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: $smallMargin;

}

.btn-primary:hover {
    background-color: $lightTeal;
    box-shadow: 3px 3px 3px $lightestGrey;
}
