// colours used throughout app
// app sticks to all these colour variables
$red: red;
$black: black;
$white: white;
$lightBlue: blue;


$lightestGrey: #f1f1f1;
$lightGrey: #d1cfcf;
$grey: #a3a2a3;
$darkGrey: #676b69;
$bodyBackground: #fafafa;

$darkTeal: #0f8194;
$lightTeal:  #00AFBD;
