/*Babel is used so that es6 code can be used throughout the app and can be transpiled down to regular es5 javascript in the browser*/
{
    "presets": [
        "latest",
        "react",
        "stage-0"
    ]
}
