.navbar__heading {
    text-align: center;
    color: $black;
    font-size: 64px;
    font-family: "Voltaire", 'sans-serif';
    font-weight: 800;
}

.navbar {
    border-bottom: 3px solid black;
}

.navbar-default
.navbar-nav>li>a {
    color: $black;
    margin-bottom: $mediumMargin;
    font-family: "Montserrat", 'sans-serif';
}

.navbar-default
.navbar-nav>li>a:hover {
    color: $lightTeal;
    border-bottom: 5px solid black;
}

.navbar-default
.navbar-brand {
    color: $black;
    margin-bottom: $mediumMargin;
    font-family: "Montserrat", 'sans-serif';
}

.navbar-brand:hover {
    color: $lightTeal;
    border-bottom: 5px solid black;
}


//tablet
@media (min-width: 768px ) {
    .navbar {
        height: 100px;
    }
}
