.navbar {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    &__heading {
        color: $black;
        font-size: 64px;
        font-family: "Voltaire", 'sans-serif';
        font-weight: 800;
    }
    &__top {
        text-align: center;
    }
    &__analog {
        display: none;
    }
    &__dateTime {
        display: inline-flex;
        margin-top: $smallMargin;
        font-family: "Bree Serif", 'sans-serif';
    }
    &__time {
        margin-right: $smallMargin;
    }
}

.navbar-default
.navbar-nav>li>a {
    color: $black;
    font-family: "Montserrat", 'sans-serif';
}

.navbar-default
.navbar-nav>li>a:hover {
    color: $lightTeal;
    border-bottom: 5px solid black;
}

.navbar-default
.navbar-brand {
    color: $black;
    font-family: "Montserrat", 'sans-serif';
}

.navbar-brand:hover {
    color: $lightTeal;
    border-bottom: 5px solid black;
}

/*Tablet upwards */
@media(min-width: 768px) {
    .navbar{
        &__analog {
            margin-left: 45%;
            display: block;
        }
    }
}
